#emboldenBtn {
    background-color: #384b70;
    border: none;
    color: #ffe9cf;
    text-align: center;
    font-size: 2em;
    width: 100%;
}

/*----------------------*/

body {
    width: 48em;
    text-align: center;
    font-size: 1rem;
}

label {
    font-size: 1rem;
    margin: 0px;
}

#hidden-span {
    font-size: 1rem;
    position: absolute;
    height: 0;
    overflow: hidden;
    white-space: pre;
}

.modifier-slot {
    display:flex;
    -ms-flex-wrap:no-wrap;
    flex-wrap:no-wrap;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    width:100%;
}

.arrow-btn {
    border: none;
    background-color: transparent;

    text-align: center;
    text-decoration: none;
    margin: 0px 0px;
    padding: 0px;
    cursor: pointer;
}

.arrow-btn:hover {
    color: deepskyblue;
}

.arrow-btn:focus {
    outline:none;
    color: deepskyblue;
}

.modifier-index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: whitesmoke;

    padding: 10px;
    border-radius: 8px 0px 0px 8px;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: gainsboro
}

.modifier-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    margin: 0px;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid gainsboro;
}

.modifier-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.effect-range {
    display: inline-block;
}

.effect-options {
    display: flex;
}

.amount {
    display: inline-block;
    margin: 0px;
    font-size: 0px;
}

.amount input[type=number] {
    font-size: 1rem;

    margin-left: 7px;
    margin-right: 0px;
    border-radius: 5px 0px 0px 5px;
    border-width: 1px;

    padding: 2px 5px 2px 5px;

    /* overflow: visible; */

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.amount input[type=number]::-webkit-inner-spin-button, 
.amount input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
}

.amount input[type=number]:focus,
select:focus {
    color:#495057;
    background-color:#fff;
    border-color:#80bdff;
    outline:0;
    box-shadow:0 0 0 .2rem rgba(0,123,255,.25)
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';

    font-size: 1rem;

    margin-left: 4px;
    margin-right: 4px;
    border-radius: 5px 5px 5px 5px;

    padding: 2px 5px 2px 5px;
}

.amount select {
    margin-left: 0px;
    margin-right: 7px;
    border-radius: 0px 5px 5px 0px;
}

.option {
    display: inline-block;
    margin: 0px;
    font-size: 0px;
}